div{
    background-image:url('images/Banner\ Image.png');
width: 1200px;
height: 600px;
background-attachment: fixed;
background-color:rgba(15, 3, 3, 0.308);
background-blend-mode: multiply;
border-radius: 20px;
margin: 20px 50px;
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
}