header{
background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('images/Banner\ Image.png');
width: 1320px;
height: 600px;;
background-blend-mode: multiply;
background-position: center;
border-radius: 16px;
margin:20px 50px;
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
background-image: linear-gradient((180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%))
}
.offer {
color: #F00;
text-size-adjust: 383px 107px;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: top 120px;
margin-bottom: 48px ;
}
.HOLIDAY{
color: #F00;
text-size-adjust: 383px 107px;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.CATEGORIES{
color: #070211;
text-size-adjust:410px 58px ;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 16px;
margin-bottom: 48px;
}
.new year img{
width: 802.9px;
height: 500px;
flex-shrink: 0;
align-items: center;
justify-content: center;
margin-bottom: 120px;
}
main div{
text-align: center;
}
.Welcome{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
width: 1320px;
height: 600px;
background-blend-mode: multiply;
background-position: center;
border-radius: 16px;
margin:20px 50px;
display: flex;
}
.midnight{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
width: 642px;
height: 176px;
text-align: left;
margin-left: 126px;
margin-top: 126px;
margin-bottom: 24px;
}
.dolor{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
height: 60px;
text-align: left;
margin-left: 126px;
}
.victorrr{
    flex-direction: column;
} 
.joinnow{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: none;
border: none;
text-align: left;
margin-left: 158px;
margin-top: 48px;
margin-bottom: 14px;
}
.digit{
    padding-top: 30px;
}




